<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>Witaj!</strong> W zakładkach możesz zarządzać KSIAZKAMI, AUTORAMI i STUDENTAMI.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div><br>
<div class="jumbotron container" >
  <h1 class="display-4 centered-element">Witaj w Bibliotece!</h1>
  <br>
  <br>
  <br>
  <hr class="my-4" centered-element>
  <h4>WYPOŻYCZENIA:</h4><br>
  <a class="btn btn-warning btn-lg centered" href="#" role="button">Dodaj wypozyczenie</a> <br><br>

</div>
