<div>
  <div class="col-6" id="left"><br>
    <ul class="Student list-group">
      <li class="list-group-item list-group-item-warning " *ngFor="let student of studenci"
        [class.selected]="student === student" (click)="onSelectS(student)">
        <button> {{student.imie}} {{student.nazwisko}}</button>
      </li>
    </ul>
  </div>
  <div class="col-2" id="right"><br>
    <div style="padding: 10px; border-style: double; border-color:darkorange" *ngIf="student">
      <!-- <h1>Szczegóły:</h1> -->
      ID: {{student.id}} <br>
      Imie: {{student.imie}} <br>
      Nazwisko: {{student.nazwisko}} <br>
      Data urodzenia: {{student.dataUrodzenia}} <br>
      PESEL: {{student.pesel}} <br>

      <br>
      <button type="button" class="btn btn-warning" style="margin: 12px;" (click)="usuwanieStudent(student.id)">USUN
      </button>
      <button type="button" class="btn btn-warning" (click)="editClicked()">EDYTUJ</button> <br>

    </div>
  </div></div>
  <app-edycja-student class="col-3" id="right" *ngIf="edit == true" [edytowanyStudent]="student"></app-edycja-student>

<br>
<div class="col-6" id="enter">
  <br>
  <h1>Dodaj</h1>
  <app-dodawanie-student></app-dodawanie-student>
</div>