<ul class="Autor" >
  <li *ngFor="let autor of autorzy" [class.selected]="autor === wybranyAutor" (click)="onSelectA(autor)">
     <button> {{autor.imie}} {{autor.nazwisko}}</button>
  </li>
</ul>

<app-dodawanie-autor (dodajAutora)="dodajAutora($event)"></app-dodawanie-autor>


<ul class="Ksiazka" >
  <li *ngFor="let ksiazka of ksiazki" [class.selected]="ksiazka === wybranaKsiazka" (click)="onSelectK(ksiazka)">
     <button> {{ksiazka.tytul}} {{ksiazka.liczbaStron}}</button>
  </li>
</ul>
<app-dodawanie-ksiazka (dodajKsiazke)="dodajKsiazke($event)"></app-dodawanie-ksiazka>

<div *ngIf="wybranaKsiazka" >
    <h2>Details of {{wybranaKsiazka.tytul}}:</h2>
 
    <app-usuwanie-ksiazka></app-usuwanie-ksiazka>
</div>
