<p>Dodaj studenta:</p>

<form [formGroup]="Formularz" (ngSubmit)="wyslijFormularz()">
    Imie: <input formControlName="imie" type="text" name="imie" [(ngModel)]="nowyStudent.imie"
    [ngClass]="{'in-valid': !Formularz.controls['imie'].valid && Formularz.controls['imie'].touched}"/>
    <b class="alert" *ngIf="!Formularz.controls['imie'].valid && Formularz.controls['imie'].touched">
        Musisz podać imię</b><br>

    Nazwisko: <input formControlName="nazwisko" type="text" name="nazwisko" [(ngModel)]="nowyStudent.nazwisko"
    [ngClass]="{'in-valid': !Formularz.controls['nazwisko'].valid && Formularz.controls['nazwisko'].touched}"/>
    <b class="alert" *ngIf="!Formularz.controls['nazwisko'].valid && Formularz.controls['nazwisko'].touched">
        Musisz podać nazwisko</b><br>

    Data urodzenia: <input formControlName="data" type="date" name="data" [(ngModel)]="nowyStudent.dataUrodzenia"
    [ngClass]="{'in-valid': !Formularz.controls['data'].valid && Formularz.controls['data'].touched}"/>
    <b class="alert" *ngIf="!Formularz.controls['data'].valid && Formularz.controls['data'].touched">
        Podaj poprawną datę</b><br>

    PESEL: <input formControlName="pesel" type="nmber" name="pesel" [(ngModel)]="nowyStudent.pesel"
    [ngClass]="{'in-valid': !Formularz.controls['pesel'].valid && Formularz.controls['pesel'].touched}"/>
    <b class="alert" *ngIf="!Formularz.controls['pesel'].valid && Formularz.controls['pesel'].touched">
        Podaj 11-cyfrowy PESEL</b><br>
        
    <input [disabled]="!Formularz.valid" type="submit" value="Dodaj">
</form>