<div>
<nav class=" navbar navbar-dark bg-dark">
<h1 class="kolor-czcionka" >BIBLIOTEKA</h1>
</nav>
<nav class="navbar-dark bg-dark">

  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link kolor-czcionka" id="nav-home-tab" data-toggle="tab"  role="tab" aria-controls="nav-home" aria-selected="true" routerLink="/">Home</a>
    <a class="nav-item nav-link kolor-czcionka" id="nav-ksiazka-tab" data-toggle="tab" role="tab" aria-controls="nav-ksiazka" aria-selected="false" routerLink="/ksiazka">Książka</a>
    <a class="nav-item nav-link kolor-czcionka" id="nav-autor-tab" data-toggle="tab" role="tab" aria-controls="nav-autor" aria-selected="false" routerLink="/autor">Autor</a>
    <a class="nav-item nav-link kolor-czcionka" id="nav-student-tab" data-toggle="tab"  role="tab" aria-controls="nav-student" aria-selected="false" routerLink="/student">Student</a>
    <app-edycja-ksiazka *ngIf=""></app-edycja-ksiazka>
    <!-- <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" role="tab" aria-controls="nav-contact" aria-selected="false" routerLink="/wyporzyczenie">Wyporzyczenie</a> -->

  </div>
</nav> </div>

<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab"></div>
  <div class="tab-pane fade" id="nav-ksiazka" role="tabpanel" aria-labelledby="nav-ksiazka-tab"></div>
  <div class="tab-pane fade" id="nav-autor" role="tabpanel" aria-labelledby="nav-autor-tab"></div>
  <div class="tab-pane fade" id="nav-student" role="tabpanel" aria-labelledby="nav-student-tab"></div>
  <!-- <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">...</div> -->

</div>

<div class="container col-md-12">
  <router-outlet></router-outlet>
</div>



  <!-- Footer -->
<footer class=" ">

<div class="stopka-czcionka">
  © 2020 projekt AIOoK
</div>

</footer>
<!-- Footer -->
<br><br><br><br>
